/*FUENTE TIPOGRAFICA LOCAL*/
@font-face {
  font-family: "MateSC";
  src: url("../assets/fonts/mateSC/MateSC-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: MateSC, arial, Arial, Helvetica, sans-serif;
  /*IMAGEN DE FONDO*/
  background-image: url("../assets/imgs/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  color: whitesmoke;
  animation: aparecer 1s ease-out;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 26ch;
  animation: writting 2s steps(26), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

.resultado-container {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  animation: aparecer 1s ease-out;
  background: rgb(255, 255, 255);
  /*DEGRADADO*/
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(73, 72, 74, 1) 82%,
    rgba(0, 0, 0, 1) 100%
  );
  /*SAOMBREADO*/
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.62);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.62);
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.62);
}

/*PSEUDOSELECTORES*/

/*Este pseudoselector aplicara estos estilos solo al primer elemento de tipo párrafo
   Como vemos la letra se mantiene en 1.5 y no en 1.2 porque el pseudoselector tiene mas especificidad*/
p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

p {
  font-size: 1.2rem;
}

/*Este pseudoselector aplicará los estilos a la primera letra de cada párrafo*/
p::first-letter {
  text-transform: uppercase;
}

/*KEYFRAMES PERSONALIZADOS*/

/*Keyfram que hace aparecer lentamente el contenido de la pagina*/
@keyframes aparecer {
  0% {
    opacity: 0;
    /*transformacion vertical*/
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*Este */
@keyframes moverImagen {
  0% {
    transform: translateX(-100);
  }
  100% {
    transform: translateX(590%);
  }
}

/*Este keyframe hara ue el titulo de la pagina aparezca como si se estuviese escribiendo*/
@keyframes writting {
  0% {
    width: 0;
  }
  100% {
    width: 26ch;
  }
}

/*Este keyframe hara como que la linea esta parpadeando, al final de la linea escrita, de forma similar a cuando escribimos en word*/
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.turboTuniverS {
  margin: 20px;
  width: 280px;
  height: 150px;
  background-image: url("../assets/imgs/TuniverS.png");
  background-size: cover;
  animation: moverImagen 4s linear infinite;
}
